a {
	color: #666666;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

#dl-btn, #player, #vinfo {
	display: none;
}

#player {
	height: 100%;
	width: auto;
}

.card-text {
	white-space: pre-wrap;
	max-height: 140px;
	overflow: hidden;
}

.reproduce {
	color: #00a1d6;
}

.reproduce:hover {
	color: #00a1d6;
	text-decoration: underline;
}

#vdesc {
	white-space: pre-wrap;
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}
